# PART 03 - Data structures and basic functions

In this part, you will learn:
* About commonly-used R data structures 
* Basic, frequently-used R functions 
* About categorical variables, i.e., factors

## Vectors

- One dimensional 
- Same mode (numeric, character, logical) 
- Scalars = single-element vectors
- as.vector(x)

In [ ]:
c(1, 2, "3")

In [ ]:
as.numeric(c(1, 2, "3"))

In [ ]:
c(c(2, 3, 4), 3)

In [ ]:
# create a vector using the constructor and list of values
a <- c(1,2,3,4)
# create a vector using the constructor and range
a <- c(1:4)
print("The whole vector")
a
print("Take the second element")
a[2]
print("Take elements from the second to the forth one")
a[2:4]
print("Take the first and the third element")
a[c(1,3)]
print("Take all the elements but the first one")
a[-1]
print("Take all the elements but the first and the second ones")
a[-c(1,2)]

In [ ]:
a[length(a)]

## Matrix

- Two-dimensional arrays
- Same mode (numeric, character, logical)

In [ ]:
a <- matrix(1:20, nrow=5, ncol=4)
a

You can add names to rows and columns

In [ ]:
colnames(a) <- c("a", "b", "c", "d")
rownames(a) <- c("x1", "x2", "x3", "x4", "x5")
a

In [ ]:
print("Take the value in the first row and the second column")
a[1,2]
print("Take all the rows and the second column")
a[,2]
print("Take all the rows and all the columns but the first one")
a[,-1]
print("Take all the rows and the column with the name 'a'")
a[, "a"]

In [ ]:
c(1,2,3)
as.matrix(c(1,2,3))

## Arrays

- n-dimensional arrays
- Same type (numeric, character, logical)

In [ ]:
a <- array(1:24, dim=c(2,3,4))
a[1,1,1]

## Data frame

- Two-dimensional arrays
- ***Different modes in different columns***

In [ ]:
a <- data.frame(a=c(1,2,3), b=c('john', 'marry', "anna"), c=c(T,T,F))
a

In [ ]:
# Similar to the matrix, please not another possiblity to take a column by using $
a[1,2] 
a[2, "b"]
a[,c("b", "c")]
a$c
a[, "c"]

In [ ]:
colnames(a)

In [ ]:
colnames(a) <- c("c1", "c2", "c3")
a

In [ ]:
row.names(a)

## List

Ordered collection of objects

In [ ]:
a <- list(22, c(2, 3, 4), data.frame(a=c(1,2,3), b=c(1,2,3)))
a

In [ ]:
a[3]

In [ ]:
# If you want to access an element in the list use double [[]] - this one will FAIL
a[3][1,1]

In [ ]:
# This is OK
a[[3]][1,1]

In [ ]:
a['my_key'] <- 1223
a

## Factors - nominal and ordinal variables

In [ ]:
a <- c("a", "b", "c", "a")
a

In [ ]:
b <- factor(a)
b

In [ ]:
levels(b)

In [ ]:
as.numeric(b)

In [ ]:
as.character(b)

In [ ]:
scale <- factor(c('low', 'medium', 'low', 'high'), 
                levels=c('low', 'medium', 'high'), ordered=T)
scale

In [ ]:
"high" > "medium"

In [ ]:
scale[4] > scale[2]

In [ ]:
a <- factor(c("apple", "apple", "plum"), 
            levels=c("apple", "plum", "cherry"), ordered=T)

In [ ]:
levels(a)

In [ ]:
a

## Basic functions

- summary (summarizes the object)
- length (Number of elements/components)
- dim (Dimensions of an object)
- str (Structure of an object)
- class (Class or type of an object)
- names (Names of components in an object)
- cbind (Combines objects as columns)
- rbind (Combines objects as rows)
- c (creates a vector)
- head(data)
- tail(data)

In [ ]:
a <- data.frame(a=c(1,2,3), b=c('john', 'marry', "anna"), c=c(T,T,F))
summary(a)

In [ ]:
str(a)

In [ ]:
a$b <- as.character(a$b)

In [ ]:
head(a, 2)

In [ ]:
tail(a, 2)

This is how you can filter values - look at this and see if you understand how does it work.

In [ ]:
x <- c(1,2,3,4,NA,4, NA, 5)
x[!is.na(x)]

In [ ]:
!is.na(x)

Yes, R is able to perform vector operations.

In [ ]:
a <- c(1,2,3)
b <- c(1,2,3)
a + b
a * b
a * 2