# Introduction

Solve all the tasks below, save as HTLM (File->Download as->HTML) and upload the HTML file to Moodle.

- ***Fullname:*** YOUR NAME
- ***Student ID:*** YOUR STUDENT ID

# PART 01

## Task 1
Load a workspace from the file task1workspace.RData and display all objects in the memory.

## Task 2

Display the path to your working directory

- Create a a file ***working_directory.R*** and put the code that displays the current working directory path in the script (use print() function to print the value)
- Run the ***working_directory.R*** from your R code.

## Task 3

Install ***dplyr*** package.

Load the **dplyr** package

## Task 4

Let's try to calculate the mean of a vector of values. Run the following code:

In [1]:
mean(c(1,2,3,NA,5))

[1] NA

The result is probably not what you expected. Use help for the mean function and find out what parameters should be added to obtain the result. 

Well, so what is the name of the parameter? Write the correct code.

# PART 02

## Task 5
Write script that prints number from 5 to 20 in a loop (use print function)

## Task 6
Implement the function ***even_numbers_within*** that will return the number of even numbers greater than the given parameter a and smaller than b.

If you run the following code:

In [ ]:
even_numbers_within(a=5, b=10)

It should return: 2

You should also protect your code from providing NA or NULL as a or b. In such a case the result of the function call should be equal to -1.

In [ ]:
even_numbers_within(a=5, b=NA)

# PART 03

## Task 7

Create a variable my_vector that will contain: 123, "John", NA, 0, 1, 2, 3, 4

In [2]:
c(123, "John", NA, 0, 1, 2, 3, 4)

[1] "123"  "John" NA     "0"    "1"    "2"    "3"    "4"

Print my_vector and copy the result you see on the console.

In [5]:
print(c(123, "John", NA, 0, 1, 2, 3, 4))

[1] "123"  "John" NA     "0"    "1"    "2"    "3"    "4"

After printing look at the type of values stored in the vector. What can you say about it?

## Task 8

Write the code that will filter my_vector and return a given result.

the 2nd element of the vector ("John")

elements from the index 3 to the index 5 (NA  "0" "1")

the last element - use function length(x) ("4")

all items but the 2nd one ("123" NA    "0"   "1"   "2"   "3"   "4")

all items but the items from 2 to 4  ("123" "1"   "2"   "3"   "4")

## Task 9

Given the following data frame:

In [ ]:
my_data <- data.frame(a=c("John", "Anna", "Maria", "Trevor"), b=c(18,20,21,24), stringsAsFactors = F)
my_data

Write the code to:

1. Change the names of columns to "Name" and "Age"
1. Print the element in the 2nd row and the 1st column (Anna)
1. Print the element in the 2nd row and the column "Age" - use the name of the column as an index (20)
1. Print  all the columns for the 3rd row (3 Maria  21)
1. Print the values in the column "Age" using the "$" operator (18 20 21 24)

## Task 10

Check the size of my_data using the dim() function.

Check the class of my_data with the class() function.

Add a new column "height"  to my_data (use cbind):

In [ ]:
height <- c("low", "medium", "high", "medium")

Add a new row to my_data (use rbind):

In [ ]:
new_row <- c("Mike", 24, "low")

Check again the size of my_data using dim() function. How many rows and columns?

In [ ]:
dim(my_data)

## Task 11

Check the structure of my_data with the str() function.

You can check the distribution of values by calling the summary() function. Summary is a very useful function to get an overview of your data.

In [4]:
?as.factor

Have you noticed that "Age" is now a character variable? Can you guess why that happen? Let's revert it to a numerical variable:

In [ ]:
my_data$Age <- as.numeric(my_data$Age)

But let's get back to Factors and "height". Try to check if Trevor is higher than John:

In [ ]:
my_data[4, "height"] > my_data[1, "height"]

Well, it won't work because "height" is a nominal variable that was created automatically from strings.

Try to convert this variable into ordered factor.  Use function factor() - check help to see how to create an ordered factor. Remember that you will have to assign the result of calling factor to my_data$height.

In [ ]:
If you have done it correctly, you should get the following output:

In [ ]:
my_data[4, "height"] > my_data[1, "height"]

TRUE

In [ ]:
 my_data[4, "height"] <= my_data[1, "height"]

FALSE

# PART 04

Load data frame from the example.csv file. Prevent treating strings as Factors.

Load the same data frame from the example.xls. Remember that you need the xlsx package. If you don't have the package, install it. You also need to load the package.

## Task 12

Add a new row to code_data but DON'T store it into code_data

- Package: pl.put.qmese.internal
- Class: Service
- LOC: 20
- CodeQuality: high
- NoBugs: 3

## Task 13

Add columns to code_data using dplyr package:

- BugsPerLOC - the number of bugs per line of code
- LOCPerBug - the number of lines of code per single bug

## Task 14

Write queries to find:

- all classes with LOCPerBug lower than 10
- all classes with CodeQuality equal to "high" and which NoBugs multiplied by 10 is less than its LOC

## Task 15

Write queries that will:
- calculate the total size of packages

`                Package LOC
1          pl.put.qmese 291
2     pl.put.qmese.data 386
3 pl.put.qmese.internal 234`

- calculate the average number of bugs for each level of CodeQuality

`  CodeQuality meanBugs
1         low 5.000000
2      medium 2.666667
3        high 5.000000`

## Task 16

Change the CodeQuality variable to ordinal:

Before: summary(code_data)

`  Package             Class                LOC        CodeQuality            NoBugs   
 Length:10          Length:10          Min.   : 10.0   Length:10          Min.   :1.0  
 Class :character   Class :character   1st Qu.: 23.0   Class :character   1st Qu.:3.0  
 Mode  :character   Mode  :character   Median :111.0   Mode  :character   Median :5.0  
                                       Mean   : 91.1                      Mean   :4.3  
                                       3rd Qu.:124.8                      3rd Qu.:5.0  
                                       Max.   :224.0                      Max.   :8.0  `
                                       
After: summary(code_data)

`   Package             Class                LOC        CodeQuality     NoBugs   
 Length:10          Length:10          Min.   : 10.0   low   :3    Min.   :1.0  
 Class :character   Class :character   1st Qu.: 23.0   medium:3    1st Qu.:3.0  
 Mode  :character   Mode  :character   Median :111.0   high  :4    Median :5.0  
                                       Mean   : 91.1               Mean   :4.3  
                                       3rd Qu.:124.8               3rd Qu.:5.0  
                                       Max.   :224.0               Max.   :8.0 `

# PART 05

## Task 17

Use the function table to show the dependency between the number of classes of certain CodeQuality and  packages.

Expected output:

`         pl.put.qmese pl.put.qmese.data pl.put.qmese.internal
  low               0                 1                     2
  medium            3                 0                     0
  high              2                 2                     0`

## Task 18

Perform t-test to investigate if there is a statistically significant difference between the average number of bugs for classes in packages pl.put.qmese and pl.put.qmese.data.